<?xml version="1.0"?>
<model>
  <name>Blue Bouy</name>
    <version>1.0</version>
      <sdf version='1.5'>model.sdf</sdf>

        <author>
           <name>Kit Smith</name>
              <email>gripefruits@gmail.com</email>
                </author>

                  <description>
                      Blue bouy for use in the McGill Robotics AUV simulation.
                        </description>
                        </model>
